@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
    padding: 0%; margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; font-weight: 400;
}

.content {
    width: 100vw; height: 100vh;
    display: flex; align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
}

.block {
    background-color: #F50C00;
    height: 500px; width: 800px;
    border-radius: 10px;
    color: #380300;
    position: relative;
    overflow: hidden;
}

.block .form {
    width: 50%; height: 100%;
    padding: 20px;
    overflow: hidden;
}

.block .form form {
    position: relative;
    height: 460px; width: 100%;
    overflow: hidden;
    padding-top: 90px;
}

.block .form h1 {
    font-weight: 500;
    color: #F2F2F2;
    margin-bottom: 30px;
    transition: 1s;
    position: absolute;
    top: 0px;
}

.block .line {
    margin-top: 20px;
    position: relative;
}

.block .line label {
    position: absolute;
    top: 2px; left: 5px;
    transition: .4s;
    color: #380300;
}

.block .line input {
    width: 100%; height: 30px;
    border-radius: 3px;
    border: none;
    outline: none; padding: 5px;
}

.block .line input:focus ~ label {
    top: -17px; font-size: 10pt; 
    color: #ffffff; left: 0px;
}

.block .line input:not(:placeholder-shown) ~ label {
    top: -17px; font-size: 10pt; 
    color: #ffffff; left: 0px;
}

form .buttons {
    position: absolute; bottom: 0px;
    height: 100px; width: 100%;
    transition: .5s;
}

form .buttons button {
    background-color: #11A8A0;
    border: none; border-radius: 5px;
    width: 100%; font-size: 12pt;
    color: #f2f2f2; cursor: pointer;
    margin-bottom: 25px;
    
}

form .buttons .chamar_register {
    color: #f2f2f2db;
}

form .buttons span.crie {
    width: auto; height: auto;
    font-size: 12pt;
    color: #fff;
    cursor: pointer;
}


.block .say_hello {
    width: 390px; height: 490px;
    background-color: #11A8A0;
    top: 0; right: 0; left: auto;
    position: absolute;
    margin: 5px; border-radius: 5px;
    transition: 1s;
}

.registrar, .to_register {display: none;}

@keyframes changeLogin {
    0% {left: 0%;}
    100% {left: -120%;}
}

@keyframes opacityZero {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes slideToLeft {
    0% {right: 0; left: auto;}
    100% {right: auto; left: 0;}
}